[art-generic-text-layout="top-border"] {
  border: 1px solid lightgray;
  border-top: 3px solid #162E51;
  border-radius: 5px;
}

[art-generic-text-layout="background-color"] {
  background: #E7F6F8;
}

[art-generic-text-layout="border"] {
  border: 1px solid #DFE1E2;
  border-radius: 5px;
}