body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #e0f0fa;
}

a img{
	outline:none;
	ie-dummy: expression(this.hideFocus=true);
	outline-width:none;
	outline-color:none;
	border-style:none;

}
a{
	outline:none;
}
a:active, a:focus { 
 outline: none; 
 ie-dummy: expression(this.hideFocus=true);
}
a:focus{
	outline: 2px dotted; 
	ie-dummy: expression(this.hideFocus=false);
}
fieldset, legend{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


#backbtn {
	position: absolute;
	width: 108px;
	height: 53px;
	z-index: 1;
	left: 715px;
	top: 597px;
}

#nextbtn {
	position: absolute;
	width: 108px;
	height: 53px;
	z-index: 1;
	left: 907px;
	top: 597px;
}
#exitbtn {
	position: absolute;
	width: 50px;
	height: 27px;
	z-index: 1;
	left: 965px;
	top: 0px;
	display: none;
}
#helpbtn {
	position: absolute;
	width: 50px;
	height: 27px;
	z-index: 1;
	left: 889px;
	top: 0px;
}
#glossarybtn {
	position: absolute;
	width: 76px;
	height: 27px;
	z-index: 1;
	left: 939px;
	top: 0px;
}
#resourcesbtn {
	position: absolute;
	width: 85px;
	height: 27px;
	z-index: 2;
	left: 804px;
	top: 0px;
}
#lessonmapbtn {
	position: absolute;
	width: 95px;
	height: 27px;
	z-index: 3;
	left: 659px;
	top: 0px;
}
#xofy {
	position: absolute;
	width: 70px;
	height: 20px;
	z-index: 4;
	left: 831px;
	top: 618px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	color: #fff;
}
#coursetitle {
	position: absolute;
	width: 688px;
	height: 20px;
	z-index: 5;
	left: 324px;
	top: 30px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 20px;
	color: #1A4771;
}
#coursetitle h1{
	font-size:20px;
	border:0;
	margin:0;
	padding:0;
	font-weight:normal;
}

#lessontitle {
	position: absolute;
	width: 696px;
	height: 20px;
	z-index: 6;
	left: 324px;
	top: 61px;
	font-size: 16px;
	font-family: Verdana, Geneva, sans-serif;
	font-style: italic;
	color: #000;
}
#lessontitle h2{
	font-size:16px;
	border:0;
	margin:0;
	padding:0;
	font-weight:normal;
}
#apDiv11 {
	position: absolute;
	width: 36px;
	height: 36px;
	z-index: 7;
	left: 632px;
	top: 606px;
}
#apDiv12 {
	position: absolute;
	width: 36px;
	height: 36px;
	z-index: 8;
	left: 591px;
	top: 606px;
}
#apDiv13 {
	position: absolute;
	width: 36px;
	height: 36px;
	z-index: 9;
	left: 550px;
	top: 606px;
}
#apDiv14 {
	position: absolute;
	width: 36px;
	height: 36px;
	z-index: 10;
	left: 509px;
	top: 606px;
}
#body {
	position: absolute;
	width: 1015px;
	height: 507px;
	z-index: 11;
	left: 0px;
	top: 86px;
}
#uititle {	position: absolute;
	width: 129px;
	height: 18px;
	z-index: 12;
	left: 8px;
	top: 603px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #fff;
}
#uiinstructions {
	position: absolute;
	width: 423px;
	height: 46px;
	z-index: 13;
	left: 144px;
	top: 602px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #fff;
}
#apDiv1 {
	position: absolute;
	width: 19px;
	height: 20px;
	z-index: 14;
	left: 688px;
	top: 604px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
}
#content {
	position: absolute;
	width: 1015px;
	height: 505px;
	z-index: 15;
	left: -1px;
	top: 88px;
	
}
#templateFields{
	display:none;
}

#skipNav{
	position:absolute;
	top:0px;
	left:350px;
	color: #266c9a;
	z-index:100;

}

#skipNav a{
	text-color:#024d84;
	color:#266c9a;
	text-decoration:none;
	font-size:0pt;
}

#skipNav a:active{
	color:#000000;
	background-color:#ffffff;

}

#skipNav a:focus{
	color:#000000;
	background-color:#ffffff;
	font-size:12pt;

}