# Global owners
* @drewnielson @michaelhortongsa

# Layouts and Includes and other Jekyll structural changes
/_assets/css/ @drewnielson
/_assets/js/ @drewnielson
/_plugins/ @drewnielson
/_includes/ @drewnielson @michaelhortongsa
/_layouts/ @drewnielson @michaelhortongsa

# Site content changes
/_pages/ @drewnielson @michaelhortongsa
/_posts/ @drewnielson @michaelhortongsa
/blog/ @drewnielson @michaelhortongsa
*.md @drewnielson @michaelhortongsa
