/**************************\
  Basic Modal Styles
\**************************/
.modal {
    font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
  }
  
  .modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal__container {
    background-color: #fff;
    padding: 20px;
    max-width: 75%;
    /* max-height: 100vh; */
    border-radius: 10px;
    overflow-y: auto;
    box-sizing: border-box;
  }
  
  .modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .modal__title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    /* font-size: 1.25rem; */
    /* line-height: 1.25; */
    color: #00449e;
    box-sizing: border-box;
  }
  
  .modal__close {
    background: transparent;
    border: 0;
    padding: 0px !important;
    font-size: 30px !important;
    border: 0 !important;
  }
  
  .modal__header .modal__close:before { content: "\2715"; }
  
  .modal__content {
    /* margin-top: 2rem; */
    margin-bottom: 2rem;
    line-height: 1.5;
    color: rgba(0,0,0,.8);
    padding-bottom: 3rem;
  }
  .modal__footer
  {
    text-align: right;
  }
  .modal__btn {
    /* font-size: .875rem; */
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: #e6e6e6;
    color: rgba(0,0,0,.8);
    border-radius: .25rem;
    border-style: none;
    border-width: 0;
    cursor: pointer;
    -webkit-appearance: button;
    text-transform: none;
    overflow: visible;
    line-height: 1.15;
    margin: 0;
    will-change: transform;
    -moz-osx-font-smoothing: grayscale;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    transition: -webkit-transform .25s ease-out;
    transition: transform .25s ease-out;
    transition: transform .25s ease-out,-webkit-transform .25s ease-out;
  }
  
  .modal__btn:focus, .modal__btn:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
  
  .modal__btn-primary {
    background-color: #00449e;
    color: #fff;
  }
  
  /**************************\
    Demo Animation Style
  \**************************/
  @keyframes mmfadeIn {
      from { opacity: 0; }
        to { opacity: 1; }
  }
  
  @keyframes mmfadeOut {
      from { opacity: 1; }
        to { opacity: 0; }
  }
  
  @keyframes mmslideIn {
    from { transform: translateY(15%); }
      to { transform: translateY(0); }
  }
  
  @keyframes mmslideOut {
      from { transform: translateY(0); }
      to { transform: translateY(-10%); }
  }
  
  .micromodal-slide {
    display: none;
  }
  
  .micromodal-slide.is-open {
    display: block;
  }
  
  .micromodal-slide[aria-hidden="false"] .modal__overlay {
    animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
  }
  
  .micromodal-slide[aria-hidden="false"] .modal__container {
    animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
  }
  
  .micromodal-slide[aria-hidden="true"] .modal__overlay {
    animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
  }
  
  .micromodal-slide[aria-hidden="true"] .modal__container {
    animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
  }
  
  .micromodal-slide .modal__container,
  .micromodal-slide .modal__overlay {
    will-change: transform;
  }
  
  
    #gethelp
    {
      text-align: center;
    }
  #myBtn
  {
    text-align: right;
  }
  #ICTList ol
  {
    font-size: 20px;
  }
    /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color: #000b4d;
    color: white;
    text-align:center;
  }
  
  .modal-body {padding: 2px 16px;}
  
  .modal-footer {
    padding: 2px 16px;
    background-color: #000b4d;
    color: white;
  }
    #noselect
    {
      -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
    }
  * {
    box-sizing: border-box; 
  }
  /* Create two equal columns that floats next to each other */
  .column {
    float: left;
    width: 33.33%;
    padding: 10px;
  }
  .column ul
  {
    padding-right: 40px;
  }
  .row {
    margin-left: 20px;
    margin-right: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .column {
      width: 100%;
    }
  }
  #saas {
    margin-left: 15px;
  }
  #footerleft {
    font-weight: bold;
  }
  #timeupdated {
    text-align: right;
  }
  #exceptionnote {
    background-color: lightyellow;
    display: table;
    font-size: x-large;
  }

  /*@import url(https://fonts.googleapis.com/css?family=Cabin:700);*/
  .line {
    width: 100%;
    height: 3px;
    background: black;
    margin-top: 20px;
  }
  .wizard > .steps .done a, .wizard > .steps .done a:hover, .wizard > .steps .done a:active
  {
      background: #007CBE;
  }
  .wizard > .steps .current a, .wizard > .steps .current a:hover, .wizard > .steps .current a:active
  {
      background: black;
  }
  .wizard > .steps .disabled a, .wizard > .steps .disabled a:hover, .wizard > .steps .disabled a:active
  {
      background: #767676;
      color: #fff;
  }
  #numberingspace li {
    margin: 0 0 15px 0px;
  }
  #numberingspace1 li
  {
     margin: 0 0 0px 0px;
  }
  .ElectronicContentClass, .SoftwareClass, .HardwareClass, .Step1Q1Class, .SoftwareCriteriaClass, .SoftwareCloudAgreementsClass {
    margin-right: 25px !important;
    transform: scale(2.5, 2.5);
  }
  #step3q6-0, #step3q6-1, #step3q6-2, #step3q6-3, #step3q6-4, #step3q6-5, #step3q6-6, #step3q6-7, #step3q6-8, #step3q6-9, #step3q6-10, #step3q6-11, #step4q7-0, #step4q7-1, #step4q7-2, #step4q7-3, #step4q7-4, #step4q7-5, #step4q7-6, #step4q7-7, #step4q7-8 {
    margin-right: 25px;
    transform:scale(2.5, 2.5);
  }
  .softwareexamples {
    margin-left: 50px !important;
    margin-bottom: 10px !important;
    margin-top: -10px !important;
      font-size: small;
    font-weight: initial;
    line-height: 18px;
  }
  .art h3
  {
      text-align: center;
      text-transform: uppercase;
  }
  /* HTML5 Boilerplate accessible hidden styles */
 .art [type="radio"] {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px; margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  /* One radio button per line */
.art label {
    display: inline !important;
    /* cursor: pointer; */
    line-height: 2.0;
    font-size: 1.2em;
  }
  .wizard > .content > .body label
  {
      display: block;
  }
  
  .art [type="radio"] + span {
    display: block;
  }
  
  /* the basic, unchecked style */
.art [type="radio"] + span:before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: -0.25em;
    border-radius: 1em;
    border: 0.125em solid #fff;
    box-shadow: 0 0 0 0.15em #000;
    margin-right: 0.75em;
    transition: 0.5s ease all;
  }
  
  /* the checked style using the :checked pseudo class */
  [type="radio"]:checked + span:before {
    background: #2196F3;
    box-shadow: 0 0 0 0.25em #000;
  }
  /* never forget      styling */
  [type="radio"]:focus + span:after {
    content: '\0020\2190';
    font-size: 1.5em;
    line-height: 1;
    vertical-align: -0.125em;
    border-style: dashed;
  border-color: red;
  }

.art fieldset {
    font-size: 16px;
    border: 5px solid #000;
    padding: 1em 2em;
    /*border-radius: 1.5em;*/
  }
.art legend {
    color: #fff;
    background: #000;
    padding: 0.5em 1em;
    border-radius: 1em;
    margin-bottom: 0px;
    font-size:20px;
  }
  
  .p {
    text-align: center;
    font-size: 14px;
    padding-top: 120px;
  }
  /**/
  .art a:hover, .art input:hover, .art button:hover, .art select:hover {
    /* font-weight: bold; */
    background-color: #DDFFFD;
    color: blue;
    /* color: white; */
  }
  .art a:focus, .art input:focus, .art button:focus, .art select:focus {
    font-weight: bold;
    background-color: #DDFFFD;
    color: blue;
    /* border-style: dashed;
  border-color: silver; */
  }
  #body-t-1:focus, #body-t-0:focus, #body-t-2:focus, #body-t-3:focus, #body-t-4:focus
  {
      /*color: white;*/
     /*background-color: black;*/
     text-decoration: none;
     border-style: dashed;
  border-color: silver;
  }
  .error {
    color: #C00000;
    font-weight: bolder;
  
  }
  .col-lg-2
  {
    padding-left: 0px;
  }
  #wizard{
      background-color: white;
      padding-top: 20px;
      padding-bottom: 20px;
  }
  .wizard .content {
      min-height: 100px;
      /*overflow-y: auto;*/
      position:relative;
      background-color: white;
  }
  .wizard .content > .body {
      width: 100%;
      height: auto;
      padding: 0;
      position: relative;
      margin: auto;
      float: none;
  }
  .wizard > .steps .number
  {
      font-size: 65px;
      position: relative;
      top: -30px;
      font-weight: 700;
      margin-left: -21px;
      color: white;
  }
  .wizard > .steps .title
  {
     margin-left: 0px;
     font-size: 16px;
     font-weight: bold;
     top: -50px;
     position: relative;
  }
  .wizard > .steps a, .wizard > .steps a:hover, .wizard > .steps a:active
  {
    height: 50px;
  }
  .wizard > .steps > ul > li
  {
      width: auto;
  }
  .wizard > .content > .body ul > li
  {
      display: block;
  }
  .wizard > .steps a,
  .wizard > .steps a:hover,
  .wizard > .steps a:active
  {
      display: block;
      width: auto;
      margin: 0 5px 5px;
      padding: 10px 15px 10px 15px;
      text-decoration: none;
  
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
  }
  .wizard > .steps
  {
      position: relative;
      display: block;
      width: 100%;
      display: flex;
      justify-content: center;
  }
  .wizard > .content > .body label
  {
    margin-bottom: 0;
  }
  hr {
      border-top: 1px solid #8c8b8b;
      text-align: center;
  }
  hr:after {
      content: '\00a7';
      display: inline-block;
      position: relative;
      top: -14px;
      padding: 0 10px;
      background: white;
      color: #8c8b8b;
      font-size: 18px;
      -webkit-transform: rotate(60deg);
      -moz-transform: rotate(60deg);
      transform: rotate(90deg);
  }
  .ictdesc li {
    list-style-type: square;
    display: list-item !important;
    margin-left: 15px;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  

  /*------------------------------------------
    Responsive Grid Media Queries - 1280, 1024, 768, 480
     1280-1024   - desktop (default grid)
     1024-768    - tablet landscape
     768-480     - tablet
     480-less    - phone landscape & smaller
  --------------------------------------------*/
  /*@media all and (min-width: 1024px) and (max-width: 1280px) { }*/
  
  /*@media all and (min-width: 768px) and (max-width: 1024px) { }*/
  
  /*@media all and (min-width: 480px) and (max-width: 768px) { }*/
  
    #dart-li{margin-bottom: 20px;}
  .italic{font-style: italic;}
  .ictdesc{font-family:inherit;background-color: lightgrey;padding: 10px 10px 10px 10px;border-radius: 10px;font-style: italic;margin-left: 25px;margin-bottom: 20px;margin-right:35px;font-weight: normal;line-height:1.2;font-size: 16px; color:black;}
  .ictdesc1{font-family:inherit;background-color: lightgrey;padding: 10px 10px 10px 10px;border-radius: 10px;font-style: italic;margin-left: 25px;margin-top: 20px;margin-right:35px;font-weight: normal;line-height:1.2;font-size: 16px; color:black;}
  #myProgress {  width: 100%;  background-color: #ddd;}
  #myBar {  width: 2%;  height: 30px;  background-color: #4CAF50;  text-align: center;  line-height: 30px;  color: white;}
  .col-lg-11{width: 83.33333333%; padding-left:2%;}
  #body{font-weight:normal; margin-top: 10px;font-family: sans-serif;}
  #bodyfirstpage{margin: 30px; margin-bottom: 0px; margin-top: 0px;}
  #nav{font-weight:bold;
    overflow: auto;
    white-space: nowrap;
    margin:1% 5% 0% 5%; padding-bottom: 50px;}
  .prevButton{text-align:left;float: left;}
  .nextButton{text-align: right;float: right;}
  .centerButton{text-align: center;float: none;}
  .startButton{
    text-align: center;
    float: none;
    margin-top: 2rem;
    }
    .startButton button{
    font-size: 32px;
    }
  /* button:hover, button:focus, input[type=button]{background-color: white; color: black;} */
.art button,  .art input[type=button]{
    color: #494949 !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  padding: 10px;
  font-size: 20px;
  border: 5px solid #494949 !important;
  display: inline-block;
  transition: all 0.4s ease 0s;
    }
.art button:hover,.art button:focus,.art input[type=button]{
    color: #ffffff !important;
  background: navy;
  border-color:navy !important;
  transition: all 0.4s ease 0s;
    }
    .wizard > .content > .body input
    {
      border: 3px solid navy;
      font-size: 20px;
      line-height: 2.5;
    }
.art button:disabled,.art button[disabled]{  border: 1px solid #999999;  background-color: #cccccc;  color: #666666;}
  .btn {  border: 3px solid #1a1a1a;  background:white;  display: inline-block;  /* padding: 10px; */  position: relative;  text-align: center;  -webkit-transition: background 600ms ease, color 600ms ease;  transition: background 600ms ease, color 600ms ease;}
  /*input[type="radio"].toggle { color:white;}*/
  /*input[type="radio"].toggle + label {  cursor: pointer;  min-width: 60px;}*/
  /*input[type="radio"].toggle + label:hover {  background: black;  color: white;}*/
  /*input[type="radio"].toggle + label:after {  background: #1a1a1a;  content: "";  height: 100%;  position: absolute;  top: 0;  -webkit-transition: left 200ms cubic-bezier(0.77, 0, 0.175, 1);  transition: left 200ms cubic-bezier(0.77, 0, 0.175, 1);  width: 100%;  z-index: -1;}*/
  /*input[type="radio"].toggle.toggle-left + label {  border-right: 0;}*/
  /*input[type="radio"].toggle.toggle-left + label:after {  left: 100%;}*/
  /*input[type="radio"].toggle.toggle-right + label {  margin-left: -2px;}*/
  /*input[type="radio"].toggle.toggle-right + label:after {  left: -100%;}*/
  /*input[type="radio"].toggle:checked + label {  cursor: default;  color: #fff;  background:black;  -webkit-transition: color 200ms;  transition: color 200ms;}*/
  /*input[type="radio"].toggle:checked + label:after {  left: 0;}*/
  .module{margin-left:auto;margin-right:auto;padding:1.5rem;background-color:#fff;border-radius:3px}
  .custom-bullet{margin-left:0;list-style:none;counter-reset:counter}
  .custom-bullet li:before{counter-increment:counter;content:counter(counter)}
  .custom-bullet-b li{position:relative;border:3px solid #00008b;padding:.75rem;border-radius:3px;float:left;margin:5px}
  .custom-bullet-b li:before{position:absolute;top:-1.35rem;padding-left:.375rem;padding-right:.375rem;color:#00008b;background-color:#fff}
  .custom-bullet-b li:after{font-size: 20px;}
  .custom-bullet-b li:last-child{margin-bottom:0}
  .NavList ul
  {
  margin: 0;
  padding: 0;
  list-style-type: none;
  }
  
  .NavList a
  {
  display: block;
  color: #FFF;
  background-color: #036;
  /* width: 75%; */
  padding: 3px 12px 3px 8px;
  text-decoration: none;
  border-bottom: 1px solid #fff;
  font-weight: bold;
  }
  
  .NavList a:hover, .NavList a:focus
  {
  background-color: #369;
  font-weight: bold;
  border-style: dashed;
  border-color: red;
  color: #FFF;
  }
  
  .NavList li li a
  {
  display: block;
  color: #FFF;
  background-color: #4A7094;
  /* width: 75%; */
  padding: 3px 3px 3px 17px;
  text-decoration: none;
  border-bottom: 1px solid #fff;
  font-weight: normal;
  }
  .NavListDisabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
.art a[aria-disabled="true"] {
    color: currentColor;
    display: inline-block;  /* For IE11/ MS Edge bug */
    pointer-events: none;
    text-decoration: none;
  }
  #officialcommunicationlist {
    /* display: list-item; */
    margin-left: 50px;
  }
  #step3question6{
  margin-left: 30px;
  }
  #step4question7{
  margin-left: 30px;
  }
  .dart fieldset {
    font-size: revert;
    border: none;
    padding: none;
    /*border-radius: 1.5em;*/
  }
  .dart legend {
    color: black;
    background: #fff;
    padding: 0em;
    border: 0em;
    border-radius: none;
    margin-bottom: 0px;
    font-size:20px;
  }
  .dart {
    padding-left: 2rem;
    padding-right: 2rem;
    color: black;
  }
  .dart h1 {
    color: #18191b;
    margin: 0rem;
  }
  .dart h2 {
    font-weight: bold;
    padding-bottom: 0;
  }
  .dart section {
    display: flex;
    flex-flow: row wrap;
    margin-top: 2rem;
  }
  .dart section > div {
    flex: 1;
    padding: 0.5rem;
  }

  /*
  .dart input[type="radio"] {
   display: none; 
  }
*/

  .dart input[type="radio"]:not(:disabled) ~ label {
    cursor: pointer;
  }
  .dart input[type="radio"]:disabled ~ label {
    color: #bcc2bf;
    border-color: #bcc2bf;
    box-shadow: none;
    cursor: not-allowed;
  }
  .dart label {
     height: 100%;
    display: block !important;
    background: white !important;
    border: 2px solid #02356a;
    border-radius: 20px;
    line-height: 1.2;
    margin-bottom: 1rem;
    text-align: center;
    box-shadow: 0px 3px 10px -2px rgba(161, 170, 166, 0.5);
    position: relative;
    padding-top: 1rem;
    /* padding-bottom: 2rem; */
    min-height: 185px;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .dart input[type="radio"]:checked + label {
    background: #02356a !important;
    color: white;
    box-shadow: 0px 0px 20px rgba(0, 255, 128, 0.75);
  }
  .dart input[type="radio"]:focus + label {
    /* background: lightblue !important; */
    /* color: black; */
    box-shadow: 0px 0px 20px rgba(0, 255, 128, 0.75);
  }
  .dart input[type="radio"]:hover + label {
    /* background: lightblue !important; */
    /* color: black; */
    box-shadow: 0px 0px 20px rgba(0, 255, 128, 0.75);
  }
  .dart input[type="radio"]:checked + label::after {
    color: #3d3f43;
    font-family: FontAwesome;
    border: 5px solid #1dc973;
    content: "\f00c";
    font-size: 30px;
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
    background: white !important;
    box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.25);
  }
  /* .dart input[type="radio"]#control_05:checked + label {
    background: red !important;
    border-color: red;
  } */
  .dart p {
    font-weight: normal;
  }
  @media only screen and (max-width: 700px) {
    .art section {
      flex-direction: column;
    }
  }
  