{%- comment -%}
This banner is located under menu navigation bar, to display the title of each landing page.
{%- endcomment -%}

{%- if page.type == 'manage' -%}
{%- assign header = 'Policy & Management' -%}
{%- endif -%}
{%- if page.type == 'training' -%}
{%- assign header = 'Training, Tools & Events' -%}
{%- endif -%}
{%- if page.type == 'develop' -%}
{%- assign header = 'Design & Develop' -%}
{%- endif -%}
{%- if page.type == 'test' -%}
{%- assign header = 'Testing' -%}
{%- endif -%}
{%- if page.type == 'acquisition' -%}
{%- assign header = 'Acquisition' -%}
{%- endif -%}
{%- if page.type == 'create' -%}
{%- assign header = 'Content Creation' -%}
{%- endif -%}
{%- if page.type == 'report2023' -%}
{%- assign header = 'FY 23 Governmentwide Section 508 Assessment' -%}
{%- assign subtitle = 'True' -%}
{%- endif -%}

<section aria-label="Page Banner" class="usa-graphic-list usa-section sml-margin bg-gradient landing-page-banner">
    <div class="grid-container">
        <div class="grid-row grid-gap">
            <div class="tablet: grid-col">
                {% if header %}
                <span class="banner-title-color font-sans-lg margin-bottom-0">
                    {{header}}
                </span>
                <br />
                {% endif %}
                <h1 class="text-white font-sans-xl margin-top-0 margin-bottom-0">
                    {{page.title}}
                </h1>
                {% if subtitle %}
                <span id="subtitle" class="text-white font-sans-lg margin-top-0 margin-bottom-0"></span>
                {% endif %}
            </div>
        </div>
    </div>
</section>

