{% comment %} 
This sidenav has tags from all the posts. Will be displayed on Blog landing page and inner pages.
{% endcomment %}

<nav>
  <ul class="usa-sidenav usa-layout-docs__sidenav">
  	<li class="usa-sidenav__item"><a href="{{ site.baseurl }}/blog/" class="usa-nav__link {% if page.url == '/blog/index.html' %} usa-current{% endif %}">Blogs & Updates</a></li>
  	<li class="usa-sidenav__item"><span class="usa-sidenav__item_nolink">IT Accessibility Topics</span>
	  <ul class="usa-sidenav__sublist">
	  	{% assign tags = site.tags | sort %}
	    {% for tag in tags %}
	     {% assign tag-url = '/blog/' | append: tag[0] | append: '/' | downcase %}
	    <li class="usa-sidenav__item"><a href="{{ site.baseurl }}/blog/{{ tag[0] | downcase }}/" class="usa-nav__link {% if page.url == tag-url %} usa-current{% endif %}">{{ tag[0] | replace: "-"," " }}</a></li>
	    {% endfor %}
	  </ul>
	</li>
  </ul>
</nav>