<div class="margin-bottom-05">
    <strong>Content Contributors: </strong>
    <ul class="margin-top-05 padding-left-1" style="list-style-type:none">
    {% assign page_contributors = page.contributors %}
    {% for contributors in site.contributors %}
      {% if page_contributors contains contributors.contributor_id %}
        <li>
            <a href="{{ site.baseurl }}{{ contributors.url }}"> {{ contributors.display_name }}</a>
            {% if contributors.affiliation_short %}
                | {{ contributors.affiliation_short }}
            {% endif %}
        </li>
      {% endif %}
    {% endfor %}
    </ul>
</div>