{% comment %}
Display the disclaimer when "disclaimer: true" in the page front matter, otherwise do not. 
{% endcomment %}

{% if page.disclaimer == true %}
<div class="border-base radius-lg border-1px padding-1 margin-y-2 bg-primary-lighter" style="margin-top: 1.0em;"><strong>Disclaimer</strong>: Reference in this site to any specific commercial product, process, or service, or the use of any trade, firm or corporation name is for the information and convenience of the public, and does not constitute endorsement, recommendation, or favoring by GSA. GSA does not guarantee that outside websites or products comply with Section 508 (accessibility requirements) of the Rehabilitation Act.</div>
{% endif %}

{% comment %}
Automatically adds the "updated:" date to the page footer's "reviewed/updated:" date to all pages. Disable by adding frontmatter flag, "hide-date: true".
{% endcomment %}
<div class="margin-y-105">   
{% unless page.hide-date == true %}
    {% if page.updated %}
        {% assign input_date = page.updated %}
    {% else %}
        {% assign input_date = page.created %}
    {% endif %} 
<strong>Reviewed/Updated: </strong> {{ input_date | date: "%B %Y" }}
{% endunless %}
</div>