<footer class="usa-footer usa-footer--big">
    <div class="usa-footer__primary-section">
        <div class="grid-container">

            <div class="grid-row grid-gap padding-bottom-4">
                <div class="desktop:grid-col-4">
                    <p class="text-bold">Government-wide Initiatives</p>
                    <ul class="add-list-reset line-height-sans-6">
                        <li> <a href="https://www.gsa.gov/technology/government-it-initiatives/digital-strategy" target="_blank">Digital Strategy</a></li>
                        <li> <a href="https://www.plainlanguage.gov/" target="_blank">Plain Language </a></li>
                        <li> <a href="https://designsystem.digital.gov/" target="_blank"> US Web Design System </a></li>
                        <li> <a href="https://www.cio.gov/about/members-and-leadership/accessibility-cop/" target="_blank"> CIO Council Accessibility Community of Practice (ACOP)</a></li>
                    </ul>
                </div>
                <div class="desktop:grid-col-2">
                    <p class="text-bold">Organization</p>
                    <ul class="add-list-reset line-height-sans-6">
                        <li> <a href="{{site.baseurl}}/content/about-us/" aria-label="About Us in Organization"> About Us</a></li>
                        <li> <a aria-label="Contact Us details" href="{{site.baseurl}}/contact-us/"> Contact Us</a></li>
                    </ul>
                </div>
                <div class="desktop:grid-col-3">
                    <p class="text-bold">Tools</p>
                    <ul class="add-list-reset line-height-sans-6">
                        <li> <a href="{{site.baseurl}}/art/" aria-label="Accessibility Requirements Tool"> ART</a></li>
                        <li> <a href="{{site.baseurl}}/buy/solicitation-review-tool" aria-label="Solicitation Review Tool"> SRT</a></li>
                        <li> <a href="{{site.baseurl}}/content/guide-accessible-web-design-development"> Developer Guide</a></li>
                        <li> <a href="https://digitaldashboard.gov/" target="_blank"> DigitalDashboard.gov</a></li>
                        <li> <a href="https://analytics.usa.gov/" target="_blank"> Analytics.usa.gov</a></li>
                    </ul>
                </div>
                <div class="desktop:grid-col-3">
                    <p class="text-bold">Resources</p>
                    <ul class="add-list-reset line-height-sans-6">
                        <li> <a href="{{site.baseurl}}/content/glossary"> Glossary</a></li>
                        <li> <a href="{{site.baseurl}}/website-policies"> Website Policies</a></li>
                        <li> <a href="{{site.baseurl}}/website-policies/#_34un52plpz34"> Accessibility</a></li>
                        <li> <a href="https://www.gsa.gov/reference/freedom-of-information-act-foia"> FOIA</a></li>
                        <li> <a href="https://www.gsa.gov/website-information/website-policies"> Privacy Policy</a></li>
                        <li> <a href="{{site.baseurl}}/tools/coordinator-listing"> Find Your Section 508 Program Manager</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="usa-footer__secondary-section">
        <div class="grid-container">
            <div class="grid-row grid-gap">
                <div class="usa-footer__logo grid-row tablet:grid-col-12">
                    <div class="tablet:grid-col-3 desktop:grid-col-4 margin-y-1">
                        <a href="https://www.gsa.gov/" aria-label="General Services Administration" target="_blank">
                        {% asset logos/gsa-logo.png alt="General Service Administration Logo"
                        class="usa-footer__logo-img margin-right-1" width="42" valign="middle" %}General Services Administration </a>
                    </div>
                    <div class="tablet:grid-col-3 margin-y-1">
                        <a href="https://www.access-board.gov/" target="_blank" aria-label="US Access Board">
                        {% asset logos/seal-usab.png alt="US Access Board"
                        class="usa-footer__logo-img margin-right-1" width="42" valign="middle" %}US Access Board </a>
                    </div>
                    <div class="tablet:grid-col-3 margin-y-1">
                        <a href="{{site.baseurl}}/manage/join-the-508-community/" target="_blank" aria-label="Joining listserv">
                        Join the Community(Listserv)</a>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</footer>
