<footer class="usa-footer__primary-section">
  <div class="grid-container">
    <div class="grid-row grid-gap padding-bottom-4">
      <div class="desktop:grid-col-4">
          <p class="text-bold">Government-wide Initiatives</p>
          <ul class="add-list-reset line-height-sans-6">
              <li> <a href="https://www.gsa.gov/technology/government-it-initiatives/digital-strategy" target="_blank" onclick="return navigate(this)">Digital Strategy</a></li>
              <li> <a href="https://www.plainlanguage.gov/" target="_blank" onclick="return navigate(this)">Plain Language </a></li>
              <li> <a href="https://designsystem.digital.gov/" target="_blank" onclick="return navigate(this)"> U.S. Web Design System </a></li>
              <li> <a href="https://www.cio.gov/about/members-and-leadership/accessibility-cop/" target="_blank" onclick="return navigate(this)"> CIO Council Accessibility Community of Practice (ACOP)</a></li>
          </ul>
      </div>
      <div class="desktop:grid-col-2">
          <p class="text-bold">Organization</p>
          <ul class="add-list-reset line-height-sans-6">
              <li> <a href="{{site.baseurl}}/about-us/" aria-label="About Us in Organization" onclick="return navigate(this)"> About Us</a></li>
              <li> <a aria-label="Contact Us details" href="{{site.baseurl}}/contact-us/" onclick="return navigate(this)"> Contact Us</a></li>
              <li><a href="{{site.baseurl}}/contributors/" aria-label="Section508.gov site Contributors" onclick="return navigate(this)"> Contributors</a></li>
          </ul>
      </div>
      <div class="desktop:grid-col-3">
          <p class="text-bold">Tools</p>
          <ul class="add-list-reset line-height-sans-6">
              <li> <a href="{{site.baseurl}}/art/" aria-label="Accessibility Requirements Tool" onclick="return navigate(this)"> ART</a></li>
              <li> <a href="{{site.baseurl}}/buy/solicitation-review-tool" aria-label="Solicitation Review Tool" onclick="return navigate(this)"> SRT</a></li>
              <li> <a href="{{site.baseurl}}/content/guide-accessible-web-design-development" onclick="return navigate(this)"> Developer Guide</a></li>
              <li> <a href="https://digitaldashboard.gov/" target="_blank" onclick="return navigate(this)"> DigitalDashboard.gov</a></li>
              <li> <a href="https://analytics.usa.gov/" target="_blank" onclick="return navigate(this)"> Analytics.usa.gov</a></li>
          </ul>
      </div>
      <div class="desktop:grid-col-3">
          <p class="text-bold">Resources</p>
          <ul class="add-list-reset line-height-sans-6">
              <li> <a href="{{site.baseurl}}/content/glossary" aria-label="Glossary for Section508" onclick="return navigate(this)"> Glossary</a></li>
              <li> <a href="{{site.baseurl}}/website-policies" onclick="return navigate(this)"> Website Policies</a></li>
              <li> <a href="{{site.baseurl}}/tools/program-manager-listing/" onclick="return navigate(this)"> Find Your Section 508 Program Manager</a></li>
              <li><a href="{{site.baseurl}}/manage/join-the-508-community/" onclick="return navigate(this)">Join the Community(Listserv)</a></li>
          </ul>
      </div>
    </div>
  </div>
</footer>

<div class="usa-identifier">
    <section
      class="usa-identifier__section usa-identifier__section--masthead"
      aria-label="Agency identifier,"
    >
      <div class="usa-identifier__container">
        <div class="usa-identifier__logos">
          <a href="https://gsa.gov" class="usa-identifier__logo" onclick="return navigate(this)">
              <img class="usa-identifier__logo-img" alt="General Services Administration Logo" src="{{site.baseurl}}/assets/images/logos/gsa-logo.png">
          </a>
        </div>
        <div class="usa-identifier__identity">
          <p class="usa-identifier__identity-domain">Section508.gov</p>
          <p class="usa-identifier__identity-disclaimer">
            An official website of the <a href="https://www.gsa.gov/" onclick="return navigate(this)">General Services Administration</a>
          </p>
        </div>
      </div>
    </section>
    <nav
      class="usa-identifier__section usa-identifier__section--required-links"
      aria-label="Important links,,"
    >
      <div class="usa-identifier__container">
        <ul class="usa-identifier__required-links-list">
          <li class="usa-identifier__required-links-item">
            <a href="https://www.gsa.gov/about-us" class="usa-identifier__required-link usa-link" onclick="return navigate(this)">About GSA</a>
          </li>
          <li class="usa-identifier__required-links-item">
            <a href="https://www.gsa.gov/website-information/accessibility-aids" class="usa-identifier__required-link usa-link" onclick="return navigate(this)">Accessibility statement</a>
          </li>
          <li class="usa-identifier__required-links-item">
            <a href="https://www.gsa.gov/reference/freedom-of-information-act-foia" class="usa-identifier__required-link usa-link" onclick="return navigate(this)">FOIA requests</a>
          </li>
          <li class="usa-identifier__required-links-item">
            <a href="https://www.gsa.gov/reference/civil-rights-programs/notification-and-federal-employee-antidiscrimination-and-retaliation-act-of-2002" class="usa-identifier__required-link usa-link" onclick="return navigate(this)">No FEAR Act data</a>
          </li>
          <li class="usa-identifier__required-links-item">
            <a href="https://www.gsaig.gov/" class="usa-identifier__required-link usa-link" onclick="return navigate(this)">Office of the Inspector General</a>
          </li>
          <li class="usa-identifier__required-links-item">
            <a href="https://www.gsa.gov/reference/reports/budget-performance" class="usa-identifier__required-link usa-link" onclick="return navigate(this)">Performance reports</a>
          </li>
          <li class="usa-identifier__required-links-item">
            <a href="https://www.gsa.gov/website-information/website-policies" class="usa-identifier__required-link usa-link" onclick="return navigate(this)">Privacy policy</a>
          </li>
          <li class="usa-identifier__required-links-item">
            <a href="{{site.baseurl}}/website-policies/#reuse-and-copyright" class="usa-identifier__required-link usa-link" onclick="return navigate(this)">Reuse and Copyright</a>
          </li>
        </ul>
      </div>
    </nav>
    <section
      class="usa-identifier__section usa-identifier__section--usagov"
      aria-label="U.S. government information and services,,"
    >
      <div class="usa-identifier__container">
        <div class="usa-identifier__usagov-description">
          Looking for U.S. government information and services?
        </div>
        <a href="https://www.usa.gov/" class="usa-link" onclick="return navigate(this)">Visit USA.gov</a>
      </div>
    </section>
  </div>