<footer class="usa-footer usa-footer--big">
    <div class="grid-container margin-top-2 margin-bottom-2">
        <a href="#" class="usa-button usa-button--outline border-0">Return to top</a>
    </div>
    <div class="usa-footer__primary-section">
        <div class="grid-container">

            <div class="grid-row grid-gap padding-bottom-4">
                <div class="desktop:grid-col-4">
                    <p class="text-bold">Government-wide Initiatives</p>
                    <ul class="add-list-reset line-height-sans-6">
                        <li><a href="{{site.baseurl}}/manage/laws-and-policies">IT Accessibility Laws and Policies</a></li>
                        <li> <a href ="https://www.gsa.gov/technology/government-it-initiatives/digital-strategy">Digital Strategy</a></li>
                        <li> <a href ="https://www.plainlanguage.gov/">Plain Language </a></li>
                        <li> <a href ="https://designsystem.digital.gov/"> US Web Design System </a></li>
                        <li> <a href ="https://www.cio.gov/about/members-and-leadership/accessibility-cop/"> CIO Council Accessibility Community of Practice (ACOP)</a></li>
                    </ul>
                </div>
                <div class="desktop:grid-col-3">
                    <p class="text-bold">Organization</p>
                    <ul class="add-list-reset line-height-sans-6">
                        <li> <a href ="{{site.baseurl}}/content/about-us/" aria-label="About us page in Organization"> About Us</a></li>
                        <li> <a href ="{{site.baseurl}}/contact-us/"> Contact Us</a></li>
                    </ul>
                </div>
                <div class="desktop:grid-col-3">
                    <p class="text-bold">Tools</p>
                    <ul class="add-list-reset line-height-sans-6">
                        <li> <a href ="{{site.baseurl}}/art/"> ART</a></li>
                        <li> <a href ="{{site.baseurl}}/buy/solicitation-review-tool"> SRT</a></li>
                        <li> <a href ="{{site.baseurl}}/tools/coordinator-listing/"> Developer Guide</a></li>
                        <li> <a href ="https://digitaldashboard.gov/"> DigitalDashboard.gov</a></li>
                        <li> <a href ="https://analytics.usa.gov/"> Analytics.usa.gov</a></li>
                    </ul>
                </div>
                <div class="desktop:grid-col-2">
                    <p class="text-bold">Resources</p>
                    <ul class="add-list-reset line-height-sans-6">
                        <li> <a href ="" >Content Index</a></li>
                        <li> <a href ="{{site.baseurl}}/content/glossary"> Glossary</a></li>
                        <li> <a href ="{{site.baseurl}}/website-policies"> Website Policies</a></li>
                        <li> <a href ="{{site.baseurl}}/privacy-policy"> Privacy Policy</a></li>
                        <li> <a href ="{{site.baseurl}}/tools/coordinator-listing"> Find Your Section 508 Program Manager</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="usa-footer__secondary-section">
        <div class="grid-container">
            <div class="grid-row grid-gap">
                <div class="usa-footer__logo grid-row mobile-lg:grid-col-12">
                    <div class="mobile-lg:grid-col-4">
                        {% asset logos/gsa-logo.png alt="General Service Administration Logo"
                        class="usa-footer__logo-img margin-right-1" width="42" valign="middle" %}
                        General Services Administration
                    </div>
                    <div class="mobile-lg:grid-col-4">
                        {% asset logos/usaccess.png alt="US Access Board"
                        class="usa-footer__logo-img " width="70" valign="middle" %}
                        US Access Board 
                    </div>
                    <!-- <div class="mobile-lg:grid-col-3 text-center">
                        Join the Community
                    </div> -->
                    <!-- <div class="mobile-lg:grid-col-1 text-right">
                        {% asset icons/youtube-brands.png alt="Youtube Playlist"
                        class="usa-footer__logo-img" width="42" valign="middle" %}
                    </div> -->
                    <div class="mobile-lg:grid-col-4">
                        {% asset icons/youtube-brands.png alt="Youtube Playlist"
                        class="usa-footer__logo-img margin-right-1" width="42" valign="middle" %}
                        Join the Community 
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
