{% comment %}
This appears at the top of the page letting the user know it's an official government website
{% endcomment %}

<section aria-label="Official Government Site Banner" class="page-landing-page layout-demo ">
  {% if page.sidenav == true %}
  <a class="usa-skipnav" href="#main-content">Skip to secondary navigation</a>
  <a class="usa-skipnav" href="#content-section">Skip to main content</a>
  {% else %}
  <a class="usa-skipnav" href="#main-content">Skip to main content</a>
  {% endif %}

  {% include header_banner.html %}

  <button id="backtotop" title="Go to top" style="display: none">˄ Top</button>
  <div class="usa-overlay"></div>
</section>

{% if site.data.alert.display == true %}
{% include header_alert.html%}
{% endif %}