{% comment %} 
This will be displayed on the homepage. Ideally, you want to highlight key goals of the website
{% endcomment %}

<h1 class="usa-sr-only">Section 508 of the Rehabilitation Act</h1>

<section class="usa-hero margin-bottom-6">
  <div class="grid-container">
    <div class="usa-hero__callout radius-lg">
      <h2 class="usa-hero__heading h2color text-normal font-body-xl">Annual Interagency Accessibility Forum<span class="display-block text-black font-body-md text-italic">October 12-14, 2021</span></h2>
      <p class="text-black">Accessibility: A Foundation for Inclusion, Diversity, and Equity</p>
      <a class="usa-button primary-background-color" href="{{site.baseurl}}/iaaf/">Get IAAF Information</a>
    </div>
  </div>
</section>

<section class="usa-hero mission">
  <div class="grid-container">
    <div class="misson__callout radius-lg padding-4">
      <h3 class="font-body-lg margin-0">Our Mission</h3>
      <div class="grid-row grid-gap">
        <div class="desktop:grid-col-8">
        <p>On January 18, 2017, the <span class="text-underline"> <a href = "https://www.access-board.gov/"> U.S. Access Board </span></a> published a <span class="text-underline"><a href ="https://www.access-board.gov/ict/" > final rule </a></span>  updating accessibility requirements for information and communication technology (ICT) covered by  <span class="text-underline"><a href = "https://www.access-board.gov/law/ra.html"> Section 508 of the Rehabilitation Act</a></span>   and Section 255 of the Communications Act.</p>
        <p> The U.S. General Services Administration (GSA) Office of Government-wide Policy (OGP) is tasked under this law to provide technical assistance to help Federal agencies comply with these requirements, and ensure that covered ICT is accessible to, and usable by, individuals with disabilities.</p>
        </div>
        <div class="desktop:grid-col-4">
          {% asset mission.png alt="" %}
        </div>
        <div class="grid-col-12">
        <a class="usa-button secondary-background-color usa-button--big" href="{{site.baseurl}}/content/about-us" aria-label="About Us in Our Mission">About Us</a>
        </div>
      </div>
    </div>
  </div>
</section>