{% comment %}
Use this section to highlight key elements of your site. Some sites will only have two while others may have six to
eight.
{% endcomment %}


<section class="usa-graphic-list topics">
  <div class="grid-container">
    <h3 class="font-body-lg margin-bottom-2 margin-top-0 text-black"><span class="radius-pill pillcolor padding-y-1 padding-right-3 padding-left-6 buy">Buy & Sell</span></h3>
    <div class="white-background padding-4 margin-bottom-6">
      <div class="grid-row grid-gap">
        <div class="desktop:grid-col-7 text-center">
          <ul class="">
            <li><a href="#">Buy Accessible IT</a></li>
            <li><a href="#">Sell Accessible IT/VPAT™</a></li>
            <li><a href="#">Accessibility Requirements Tool (ART) Resources</a></li>
          </ul>
        </div>
        <div class="desktop:grid-col-5 text-center buy-content card">
          <a class="usa-button primary-background-color" href="javascript:void(0)">View All</a>
        </div>
      </div>
    </div>
    <h3 class="font-body-lg margin-bottom-2 margin-top-0 text-black"><span class="radius-pill pillcolor padding-y-1 padding-right-3 padding-left-6 news">News</span></h3>
    <div class="white-background padding-4 margin-bottom-6">
      <div class="grid-row grid-gap">
        <div class="desktop:grid-col-7 text-center">
          <ul class="">
            <li><a href="#">Interagency Accessibility Forum (IAAF) Archive</a></li>
            <li><a href="#">Mapping of WCAG 2.0 to Functional Performance Criteria</a></li>
            <li><a href="#">Making Agency Communications Accessible to Everyone</a></li>
            <li><a href="#">Supporting Empowerment through Accessibility</a></li>
          </ul>
        </div>
        <div class="desktop:grid-col-5 text-center news-content card">
          <a class="usa-button primary-background-color" href="javascript:void(0)">View All</a>
        </div>
      </div>
    </div>
    <h3 class="font-body-lg margin-bottom-2 margin-top-0 text-black"><span class="radius-pill pillcolor padding-y-1 padding-right-3 padding-left-6 tools">Tools and Training</span></h3>
    <div class="white-background padding-4">
      <div class="grid-row grid-gap">
        <div class="desktop:grid-col-7 text-center tools-list">
          <ul class="">
            <li><a href="#">Technology Accessibility Playbooks</a></li>
            <li><a href="#">Find Your 508 Program Manager</a></li>
            <li><a href="#">Universal Design</a></li>
            <li><a href="#">Accessibility Requirements Tool (ART)</a></li>
            <li><a href="#">ANDI (Accessible Name & Description Inspector)</a></li>
            <li><a href="#">Color Contrast Analyzer (Windows | macOS)</a></li>
          </ul>
        </div>
        <div class="desktop:grid-col-5 text-center tools-content card">
          <a class="usa-button primary-background-color" href="javascript:void(0)">View All</a>
        </div>
      </div>
    </div>
  </div>
</section>