{% comment %}
Use this section to highlight key elements of your site. Some sites will only have two while others may have six to
eight.
{% endcomment %}


<section class="usa-graphic-list topics margin-bottom-2em">
  <div class="grid-container">
    <h2 class="font-body-lg margin-bottom-2 margin-top-0 text-black"><span class="radius-pill pillcolor padding-y-1 padding-right-3 padding-left-3">{% asset icons/book-open class="padding-right-05 maxw-3" alt="policy and management icon" aria-hidden="true" %} Policy & Management</span></h2>
    <div class="white-background padding-4 margin-bottom-6">
      <div class="grid-row grid-gap">
        <div class="desktop:grid-col-7 text-center tools-list">
          <ul class="">
            <li><a href="{{site.baseurl}}/manage/deia-guidance">DEIA Accessibility Guidance</a></li>
            <li><a href="{{site.baseurl}}/manage/laws-and-policies">IT Accessibility Laws and Policies</a></li>
            <li><a href="{{site.baseurl}}/manage/benefits-of-accessibility/">Practical Reasons for Digital Accessibility</a></li>
            <li><a href="{{site.baseurl}}/manage/playbooks/">View a Playbook</a></li>
            <li><a href="{{site.baseurl}}/manage/reporting">Monitor and Report Progress</a></li>
            <li><a href="{{site.baseurl}}/buy">Buy Accessible Products and Services</a></li>
            <li><a href="{{site.baseurl}}/manage/laws-and-policies/far-update-comparison/">Tabular Comparison of the FAR 2021 Update</a></li>
          </ul>
        </div>
        <div class="desktop:grid-col-5 text-center buy-content card">
          <a class="usa-button primary-background-color" href="{{site.baseurl}}/manage/" aria-label="view all for policy and management">View All</a>
        </div>
      </div>
    </div>
    <h2 class="font-body-lg margin-bottom-2 margin-top-0 text-black"><span class="radius-pill pillcolor padding-y-1 padding-right-3 padding-left-3">{% asset icons/file-contract style="max-width:1.2rem" class="padding-right-05" alt="acquisition icon" aria-hidden="true" %} Acquisition</span></h2>
    <div class="white-background padding-4 margin-bottom-6">
      <div class="grid-row grid-gap">
        <div class="desktop:grid-col-7 text-center">
          <ul class="">
            <li><a href="{{site.baseurl}}/buy">Buy Accessible Products and Services</a></li>
            <li><a href="{{site.baseurl}}/sell">Sell Accessible Products and Services</a></li>
            <li><a href="{{site.baseurl}}/art/">Accessibility Requirements Tool (ART)</a></li>
            <li><a href="https://training.section508.gov/508-training/courses/micro-purchase-new/lesson1/index.html" target="_blank">Micro-Purchases and Section 508 Requirements</a></li>
          </ul>
        </div>
        <div class="desktop:grid-col-5 text-center news-content card">
          <a class="usa-button primary-background-color" href="{{site.baseurl}}/buy-sell/" aria-label="view all  for Aquisition">View All</a>
        </div>
      </div>
    </div>
    <h2 class="font-body-lg margin-bottom-2 margin-top-0 text-black"><span class="radius-pill pillcolor padding-y-1 padding-right-3 padding-left-3">{% asset icons/pencil-ruler class="padding-right-05 text-ttop maxw-4" alt="content creation icon" aria-hidden="true" %} Content Creation</span></h2>
    <div class="white-background padding-4 margin-bottom-6">
      <div class="grid-row grid-gap">
        <div class="desktop:grid-col-7 text-center">
          <ul class="">
            <li><a href="{{site.baseurl}}/create/documents">Documents</a></li>
            <li><a href="{{site.baseurl}}/create/pdfs">PDFs</a></li>
            <li><a href="{{site.baseurl}}/create/presentations">Presentations</a></li>
            <li><a href="{{site.baseurl}}/create/accessible-meetings">Meetings</a></li>
          </ul>
        </div>
        <div class="desktop:grid-col-5 text-center tools-content card">
          <a class="usa-button primary-background-color" href="{{site.baseurl}}/create/" aria-label="view all for content creation">View All</a>
        </div>
      </div>
    </div>
    <h2 class="font-body-lg margin-bottom-2 margin-top-0 text-black"><span class="radius-pill pillcolor padding-y-1 padding-right-3 padding-left-3">{% asset icons/desktop class="padding-right-05 text-ttop maxw-4" alt="design and develop icon" aria-hidden="true" %} Design & Develop</span></h2>
    <div class="white-background padding-4 margin-bottom-6">
      <div class="grid-row grid-gap">
        <div class="desktop:grid-col-7 text-center">
          <ul class="">
            <li><a href="{{site.baseurl}}/create/universal-design">Universal Design and Accessibility</a></li>
            <li><a href="{{site.baseurl}}/content/guide-accessible-web-design-development">Guide to Accessible Web Design & Development</a></li>
            <li><a href="{{site.baseurl}}/create/web-content">Developing Accessible Web Content</a></li>
            <li><a href="{{site.baseurl}}/create/software-websites">Create Accessible Software & Websites</a></li>
          </ul>
        </div>
        <div class="desktop:grid-col-5 text-center design-content card">
          <a class="usa-button primary-background-color" href="{{site.baseurl}}/develop/" aria-label="view all for Design and Development"> View All</a>
        </div>
      </div>
    </div>
    <h2 class="font-body-lg margin-bottom-2 margin-top-0 text-black"><span class="radius-pill pillcolor padding-y-1 padding-right-3 padding-left-3">{% asset icons/user-edit class="padding-right-05 text-ttop maxw-4" alt="testing icon" aria-hidden="true" %} Testing</span></h2>
    <div class="white-background padding-4 margin-bottom-6">
      <div class="grid-row grid-gap">
        <div class="desktop:grid-col-7 text-center">
          <ul class="">
            <li><a href="{{site.baseurl}}/test/testing-overview">Overview of Testing Methods for 508 Conformance</a></li>
            <li><a href="{{site.baseurl}}/test/web-software">Accessibility Testing for Websites and Software</a></li>
            <li><a href="{{site.baseurl}}/test/trusted-tester">Trusted Tester and ICT Testing Baseline</a></li>
          </ul>
        </div>
        <div class="desktop:grid-col-5 text-center test-content card">
          <a class="usa-button primary-background-color" href="{{site.baseurl}}/test/" aria-label="view all for Testing"> View All</a>
        </div>
      </div>
    </div>
    <h2 class="font-body-lg margin-bottom-2 margin-top-0 text-black"><span class="radius-pill pillcolor padding-y-1 padding-right-3 padding-left-3">{% asset icons/Icon-awesome-tools class="padding-right-05 text-ttop maxw-4" alt="tools icon" aria-hidden="true" %} Training, Tools & Events</span></h2>
    <div class="white-background padding-4">
      <div class="grid-row grid-gap">
        <div class="desktop:grid-col-7 text-center tools-list">
          <ul class="">
            <li><a href="https://training.section508.gov/508-training/courses/micro-purchase-new/lesson1/index.html" target="_blank">Micro-Purchases and Section 508 Requirements</a></li>            
            <li><a href="{{site.baseurl}}/tools/program-manager-listing/">Find Your 508 Program Manager</a></li>
            <li><a href="{{site.baseurl}}/create/universal-design">Universal Design</a></li>
            <li><a href="{{site.baseurl}}/art/">Accessibility Requirements Tool (ART)</a></li>
            <li><a href="https://www.ssa.gov/accessibility/andi/help/install.html" target="_blank">ANDI (Accessible Name & Description Inspector)</a></li>
            <li>Color Contrast Analyzer ( <a href="https://github.com/ThePacielloGroup/CCA-Win/releases/tag/2.5.0" target="_blank"> Windows </a> | <a href = "https://github.com/ThePacielloGroup/CCA-OSX/releases/tag/2.4" target="_blank"> macOS</a> )</li>
          </ul>
        </div>
        <div class="desktop:grid-col-5 text-center training-content card">
          <a class="usa-button primary-background-color" href="{{site.baseurl}}/training/ " aria-label="view all for Training and Tools ">View All</a>
        </div>
      </div>
    </div>
  </div>
</section>
