<div class="usa-logo" id="extended-logo">
  <em class="usa-logo__text"><a href="{{site.baseurl}}/" title="Home" aria-label="Section508.gov Home">
    {% asset Section508.gov.png class="logo" alt="Section508" %}
  </a></em>
</div>

<!-- <div class="grid-container">
<div class="usa-logo" id="extended-logo">
  <em class="usa-logo__text">
    {% asset logos/gsa-logo.png alt="General Service Administration Logo"
    class="usa-footer__logo-img margin-right-1" width="42"  %}
    <a href="{{site.baseurl}}/" title="Home" aria-label="Section508.gov Home">
    {% asset Section508.gov.png class="logo" alt="Section508" %}
  </a></em>
</div>
</div> -->
  