{% comment %} You shouldn't have to edit this page very often. But if you want
to modify some of the meta-data for the site, this is the place to do it. {%
endcomment %}

<head>
  <!-- BASIC PAGE NEEDS -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  {% if site.branch == "main" -%}
  <meta name="robots" content="index, follow" />
  {%- else -%}
  <meta name="robots" content="noindex, nofollow" />
  {%- endif %}
  
  <!-- MOBILE-SPECIFIC METAS -->
  <meta name="HandheldFriendly" content="True" />
  <meta name="MobileOptimized" content="320" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
  <!-- TITLE AND META DESCRIPTIONS -->
  <title>{{page.title}} | {{site.title}}</title>
  {% if page.description and page.description != "" -%}
  <meta name="description" content="{{ page.description | escape }}" />
  {%- else -%}
  <meta name="description" content="{{ site.description | escape }}" />
  {%- endif %}
  
  <!-- CONONICAL URL -->  
  <link rel="canonical" href="{{ page.url | absolute_url }}" />

  <!-- OPEN GRAPH -->
  <meta property="og:title" content="{{site.title}}" />
  {% if page.description and page.description != "" -%}
  <meta property="og:description" content="{{ page.description | escape }}" />
  {%- else -%}
  <meta property="og:description" content="{{ site.description  | escape }}" />
  {%- endif %}
  <meta property="og:type" content="article" />
  <meta property="og:url" content="{{ page.url | absolute_url }}" />
  {% comment -%} Add a default og:image for social media sharing when not defined. {%- endcomment -%} 
  {% if page.social_img and page.social_img_alt and page.social_img contains 'assets/' and '.jpg' or '.png' -%}
  <meta property="og:image" content="/{{ page.social_img | escape }}" />
  <meta property="og:image:alt" content="{{ page.social_img_alt | escape }}" />
  {%- else -%}
  <meta property="og:image" content="{{site.baseurl | absolute_url}}/assets/images/social-media-og-image.jpg" />
  <meta property="og:image:alt" content="GSA logo. Section508.gov. Buy. Build. Be Accessible." />
  {%- endif %}
  <meta property="og:site_name" content="Section508.gov" />

  <!-- TWITER CARDS -->
  {% comment -%} Add a default og:image for social media sharing when not defined. {%- endcomment -%} 
    <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@{{site.twitter}}" />
  <meta name="twitter:title" content="{{page.title}}" />
  {% if page.description and page.description != "" -%}
  <meta name="twitter:description" content="{{ page.description | escape }}" />
  {%- else -%}
  <meta name="twitter:description" content="{{site.description}}" />
  {%- endif %}
  {% if page.social_img and page.social_img_alt and page.social_img contains '/' and '.jpg' or '.png' -%}
  <meta name="twitter:image" content="/{{ page.social_img | escape }}" />
  <meta name="twitter:image:alt" content="{{ page.social_img_alt | escape }}" />
  {%- else -%}
  <meta name="twitter:image" content="{{site.baseurl | absolute_url}}assets/images/social-media-og-image.jpg" />
  <meta name="twitter:image:alt" content="GSA logo. Section508.gov. Buy. Build. Be Accessible." />
  {%- endif %}

  <!-- FAVICONS -->
  <!-- 128x128 -->
  <link
    rel="shortcut icon"
    type="image/ico"
    href="{{site.baseurl}}/assets/images/favicon.ico"
  />
  <link
    rel="icon"
    type="image/png"
    href="{{site.baseurl}}/assets/images/favicon.ico"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="192x192"
    href="{{site.baseurl}}/assets/images/android-chrome-192x192.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="180x180"
    href="{{site.baseurl}}/assets/images/apple-touch-icon.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="{{site.baseurl}}/assets/images/favicon-32x32.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="{{site.baseurl}}/assets/images/favicon-16x16.png"
  />
  <link rel="manifest" href="{{site.baseurl}}/assets/images/site.webmanifest" />

  <!-- CSS -->
  <link
    rel="stylesheet"
    type="text/css"
    href="{{ site.baseurl }}/assets/css/index.css?{{ site.time | date: '%s%N' }}"
  />
  
  <!-- SCRIPT -->
  <script
    src="https://code.jquery.com/jquery-3.6.0.js"
    integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"
  ></script>
  <script src="{{ site.baseurl }}/assets/js/uswds-init.min.js?{{ site.time | date: '%s%N' }}"></script>

  <!-- CUSTOM META DATA -->
  <meta name="topic" content="{{ page.topic }}" />
  <meta name="sub-topic" content="{{ page.sub-topic }}" />
  <meta name="audience" content="{{ page.audience | join: ', ' }}" />
  <meta name="resource-type" content="{{ page.resource-type }}" />
  <meta name="format" content="{{ page.format }}" />
</head>