  <div class="padding-bottom-3 margin-top-1">

    <!--<img class="tablet:float-left width-15 padding-right-2 padding-top-0 padding-bottom-2" style="width:150px;height:150px;object-fit:cover;" src="{{ site.baseurl }}/assets/images/events/cio-council-logo.jpg" alt="Chief Information Officer Council Logo" />-->
    <p class="card-tag">October 12-14, 2021; from 12:00 PM - 4:00 PM ET</p>
    <p class="text-primary-darker font-serif-lg text-bold">
        <a class="text-no-underline" href="{{ site.baseurl }}/iaaf">Interagency Accessibility Forum (IAAF)</a>
    </p>
    <p>The 2020 Interagency Accessibility Forum celebrated the 75th observance of the National Disability Employment Awareness Month (NDEAM) and the 20th anniversary of Section 508 of the Rehabilitation Act becoming enforceable.
      <a href="{{ site.baseurl }}/iaaf" aria-label="Read More about the IAAF">Read more</a>
    </p>

  </div>
