{% comment %} 
This tagline will appear in your homepage
{% endcomment %}

<section class="grid-container usa-section usa-graphic-list">
  <div class="white-background padding-4">
      <h2 class="font-body-lg margin-bottom-5 margin-top-0 text-black">Quick Links</h2>
      <div class="grid-row grid-gap">
          <div class="desktop:grid-col-3 text-center">
            <a href="{{site.baseurl}}/training-home/#micro-purchase" class="text-no-underline display-inline-block">
              <div class="circle icons">
                <img src="https://assets.section508.gov/files/images/icons/training-qlinks.png" class="icon-1" alt="Micro-Purchases and Section 508 Requirements" aria-hidden="true">
              </div>
              <p class="text-black font-body-md text-no-underline text-bold">Micro-Purchases <br>and Section 508 Requirements</p>
            </a>
          </div>
          <div class="desktop:grid-col-3 text-center">
            <a href="{{site.baseurl}}/manage/laws-and-policies/" class="text-no-underline display-inline-block">
              <div class="circle icons">
                <img src="https://assets.section508.gov/files/images/icons/law-policy-qlinks.png" class="icon-1" alt="IT Accessibiility Laws and Policies" aria-hidden="true">
              </div>
              <p class="text-black font-body-md text-no-underline text-bold">IT Accessibility Laws and Policies</p>
            </a>
          </div>
          <div class="desktop:grid-col-3 text-center">
            <a href="{{site.baseurl}}/art/" class="text-no-underline display-inline-block">
              <div class="circle icons">
                {% asset icons/art-icon.svg class="icon-1" alt="Accessibility Requirements Tool (ART)" aria-hidden="true" %}
              </div>
              <p class="text-black font-body-md text-bold">Accessibility Requirements Tool (ART)</p>
            </a>
          </div>
          <div class="desktop:grid-col-3 text-center">
            <a href="{{site.baseurl}}/tools/program-manager-listing/" class="text-no-underline display-inline-block">
              <div class="circle icons">
                {% asset icons/program-manager-icon.svg class="icon-1" alt="Find Your Section 508 Program Manager" aria-hidden="true" %}
              </div>
              <p class="text-black font-body-md text-no-underline text-bold">Find Your Section 508 Program Manager</p>
            </a>
          </div>
      </div>
  </div>
</section>