{% comment %} 
This tagline will appear in your homepage
{% endcomment %}

<section class="grid-container usa-section usa-graphic-list">
  <div class="white-background padding-4">
      <h3 class="font-body-lg margin-bottom-5 margin-top-0 text-black">Quick Links</h3>
      <div class="grid-row grid-gap">
          <div class="desktop:grid-col-3 text-center">
            <a href="{{site.baseurl}}/create" class="text-no-underline display-inline-block">
              <div class="circle icons">
                {% asset icons/pen.svg class="icon" alt="Content Index" aria-hidden="true" %}
              </div>
              <p class="text-black font-body-md text-no-underline text-bold">Content Index</p>
            </a>
          </div>
          <div class="desktop:grid-col-3 text-center">
            <a href="{{site.baseurl}}/blog" class="text-no-underline display-inline-block">
              <div class="circle icons">
                {% asset icons/XMLID_1203_.svg class="icon" alt="Blogs & Updates" aria-hidden="true" %}
              </div>
              <p class="text-black font-body-md text-no-underline text-bold">Blogs & Updates</p>
            </a>
          </div>
          <div class="desktop:grid-col-3 text-center">
            <a href="{{site.baseurl}}/art/" class="text-no-underline display-inline-block">
              <div class="circle icons">
                {% asset icons/art-icon.svg class="icon-1" alt="Accessibility Requirements Tool (ART)" aria-hidden="true" %}
              </div>
              <p class="text-black font-body-md text-bold">Accessibility Requirements Tool (ART)</p>
            </a>
          </div>
          <div class="desktop:grid-col-3 text-center">
            <a href="{{site.baseurl}}/tools/coordinator-listing" class="text-no-underline display-inline-block">
              <div class="circle icons">
                {% asset icons/program-manager-icon.svg class="icon-1" alt="Find Your Section 508 Program Manager" aria-hidden="true" %}
              </div>
              <p class="text-black font-body-md text-no-underline text-bold">Find Your Section 508 Program Manager</p>
            </a>
          </div>
      </div>
  </div>
</section>