{% comment %} 
This tagline will appear in your homepage
{% endcomment %}

<section class="grid-container usa-section usa-prose">
  <div class="white-background padding-4">
      <h3 class="font-body-lg margin-bottom-5 margin-top-0 text-black">Section Header</h3>
      <div class="grid-row grid-gap">
          <div class="desktop:grid-col-3 text-center">
            <a href="#" class="text-no-underline">
              <div class="circle icons">
                {% asset icons/pen.svg class="icon" alt="Create Accessible Products" %}
              </div>
              <p class="text-black font-body-md text-no-underline text-bold">Create Accessible Products</p>
            </a>
          </div>
          <div class="desktop:grid-col-3 text-center">
            <a href="#" class="text-no-underline">
              <div class="circle icons">
                {% asset icons/XMLID_1203_.svg class="icon" alt="Test for Accessibility" %}
              </div>
              <p class="text-black font-body-md text-no-underline text-bold">Test for Accessibility</p>
            </a>
          </div>
          <div class="desktop:grid-col-3 text-center">
            <a href="#" class="text-no-underline">
              <div class="circle icons">
                {% asset icons/Group-2280.svg class="icon" alt="Manage a 508 Program" %}
              </div>
              <p class="text-black font-body-md text-bold">Manage a 508 Program</p>
            </a>
          </div>
          <div class="desktop:grid-col-3 text-center">
            <a href="#" class="text-no-underline">
              <div class="circle icons">
                {% asset icons/auction.svg class="icon" alt="View Policies" %}
              </div>
              <p class="text-black font-body-md text-no-underline text-bold">View Policies</p>
            </a>
          </div>
      </div>
  </div>
</section>