
  .usa-checkbox {
    &__label {
      &-description{
        font-weight: normal;
      }
    }
  }

  .usa-legend{
    width: 100%;
    max-width: none;
  }

  .art-bold{
    font-weight: bold;
  }