---
---

$theme-image-path: "https://www.section508.gov/assets/img";
$theme-font-type-sans: "public-sans";
$theme-show-notifications: false;

@import "scss/packages/required";
@import "scss/packages/global";
@import "scss/packages/uswds-components";
@import "scss/packages/uswds-utilities";

body {
    overflow-x: hidden;
}

.usa-banner__button[aria-expanded="true"]::after,
.usa-banner__button[aria-expanded="true"]:hover::after,
.usa-banner__button::after,
.usa-banner__button:hover::after {
    mask: none !important;
}
