.upload-message{
    background: rgb(235, 187, 187);
    margin-top: 5px;
    pointer-events: none;
    position: absolute;
    align-items: center;
    padding-top: 5px;
}

.success{
    color: rgb(3, 58, 3);
    background-color: rgb(226, 230, 226);
    border: solid 1px;
    border-radius: 5px;
    margin: 0 0 5px;
    padding: 0 5px;
}
.error{
    color: red;
    background-color: rgb(238, 197, 197);
    border: solid 1px;
    border-radius: 5px;
    margin: 0 0 5px;
}

.usa-file-input{
    padding-bottom: 5px;
}

.art-file-input__target{
    border: 1px dashed #a9aeb1;
    display: block;
    font-size: .93rem;
    margin-top: 0.5rem;
    position: relative;
    text-align: center;
    width: 100%;
}
