{% comment %}
This is used for just about every page. It provides the border around the content.
The home page uses wide.html layout, since it extends full width of page
{% endcomment %}

<!DOCTYPE html>

<html lang="en">

{% include meta_art.html %}

<body>
  {% include header.html %}

  {% include menu.html primary_navigation=site.primary_navigation  secondary_navigation=site.secondary_navigation %}

  <section class="usa-graphic-list usa-section sml-margin bg-gradient landing-page-banner">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <div class="tablet: grid-col">
          <span class="banner-title-color font-sans-lg margin-bottom-0">
            Acquisition
          </span>
          <br />
          <h1 class="text-white font-sans-xl margin-top-0 margin-bottom-0">
            Accessibility Requirements Tool (ART)
          </h1>
        </div>
      </div>
    </div>
  </section>

  {{ content }}
  {% include footer.html %}

  {% include scripts.html %}
</body>

</html>
