---
layout: base
---

{% comment %}
This template is for a single page that does not have a date associated with it. For example, an about page.
{% endcomment %}

{% include banner.html %}

<div id="main-content" class="usa-layout-docs usa-section">

  <div class="grid-container">

    <div class="grid-row grid-gap">
      {% if page.sidenav == true %}
      {% include sidenav.html %}

      <main class="usa-layout-docs__main desktop:grid-col-9" id="content-section">
        <div class="usa-graphic-list">
            {{ content }}
        </div>
        {% if page.contributors %}
        {% include contributors.html%}  
        {% endif %}  
      </main>
      {% else %}
      <main class="usa-layout-docs__main">
        <div class="usa-graphic-list">
          {{ content }}
        </div>
        {% if page.contributors %}
        {% include contributors.html%}  
        {% endif %}
      </main>
      {% endif %}
    </div>
  </div>
</div>