---
layout: default
---

{% comment %}
This is used in blog posts. The index page can be found at blog/index.html
{% endcomment %}

{% include banner.html %}

<div class="usa-layout-docs usa-section">
  <div class="grid-container">
    <div class="grid-row grid-gap">
      <aside class="usa-layout-docs-sidenav desktop:grid-col-3 padding-bottom-4">
        {% include blog-sidenav.html %}
      </aside>
      <div class="usa-layout-docs__main desktop:grid-col-9 usa-graphic-list">
<!--        <h1 class="title margin-top-0">{{page.title}}</h1>-->
        {{ content }}
        {% include date-disclaimer.html %}
        {% if page.contributors %}
        {% include contributors.html%}  
        {% endif %}
      </div>
    </div>
  </div>
</div>