---
layout: default
---
{% comment %}
This template is used when you want to fill the width of the page. By default, it's only used in the homepage
{% endcomment %}

{% if page.title == 'Accessibility Requirements Tool (ART)' %}
<section aria-label="Page Banner" class="usa-graphic-list usa-section sml-margin bg-gradient landing-page-banner">
	<div class="grid-container">
		<div class="grid-row grid-gap">
			<div class="tablet: grid-col">
				<h1 class="text-white font-sans-xl margin-top-0 margin-bottom-0">
					{{page.title}}
				</h1>
			</div>
		</div>
	</div>
</section>
{% endif %}

<div class="grid-container usa-graphic-list">
<!--	<h1>{{page.title}}</h1>-->
{{ content }}
</div>