/* You can add global styles to this file, and also import other style files */
body{
  font-family: "Public Sans Web, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol" !important;
}
[art-generic-text-layout="top-border"] {
    border: 1px solid lightgray;
    border-top: 3px solid #162E51;
    border-radius: 5px;
}
  
[art-generic-text-layout="background-color"] {
background: #f5f9fc;
}
  
[art-generic-text-layout="border"] {
border: 1px solid #71767a;
border-radius: 0.5rem;
}
a {
    color: #1e6ad6;
}

.art-flex{
  display: flex;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #035da2;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
  }
}


.usa-step-indicator--counters .usa-step-indicator__segment--complete::before, .usa-step-indicator--counters-sm .usa-step-indicator__segment--complete::before {
    background-color: #162e51;
    box-shadow: 0 0 0 0.25rem #fff;
    color: #fff;
}
.e-205-list {
  list-style-type: "-";
}
.e-205-list li {
  padding-left: 5px;
}
@media screen and (min-width: 10em) {

    .usa-step-indicator--counters .usa-step-indicator__segment:before, .usa-step-indicator--counters-sm .usa-step-indicator__segment:before {
        height: 2.5rem;
        border-radius: 99rem;
        width: 2.5rem;
        font-feature-settings: "tnum"1,"kern"1;
        background-color: #fff;
        box-shadow: inset 0 0 0 0.25rem #dfe1e2, 0 0 0 0.25rem #fff;
        color: #565c65;
        content: counter(usa-step-indicator);
        display: block;
        font-weight: 700;
        left: 0;
        line-height: .9;
        padding: calc((2.5rem - (2ex*.9))*.5);
        position: absolute;
        text-align: center;
        top: calc((2.5rem - 0.5rem)/-2);
        z-index: 100;
    }

    .usa-step-indicator--counters-sm .usa-step-indicator__segment:before {
        height: 1.5rem !important;
        border-radius: 99rem !important;
        width: 1.5rem !important;
        font-size: .93rem !important;
        padding: calc(0.25rem + 1px) !important;
        top: calc((1.5rem - 0.5rem)/-2) !important;
    }

    .usa-step-indicator--counters-sm .usa-step-indicator__segment-label {
        margin-top: 1.5rem !important;
    }

    .usa-step-indicator__segment-label {
        color: #565c65 !important;
        display: block !important;
        font-size: 1.06rem !important;
        margin-top: calc(0.5rem + 0.5rem) !important;
        padding-right: 2rem !important;
        text-align: left !important;
    }
}

@media screen and (max-width:40em) {
    .step-indicator-button[_ngcontent-ng-c340585368] {
        margin-left: 40px !important;
        margin-top: 20px !important;
    }

    .usa-step-indicator__segments {
        display: block !important;
    }

    .usa-button--base {
        margin-top: 8px !important;
    }
}

.usa-footer__primary-section {
  font-family: Source Sans Pro Web, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  font-size: 1.06rem;
  line-height: 1.5;
}
